services:
  kaggle:
    build: .
    volumes:
      - ./.jupyter:/root/.jupyter # jupyterの設定
      - ./input:/kaggle/input
      - ./.cache:/root/.cache
      - .:/kaggle/working
      - ./.kaggle:/root/.kaggle # kaggle api認証
    environment:
      - JUPYTERLAB_SETTINGS_DIR=/kaggle/working/.jupyter-settings # jupyterの設定(保存用)
      - NETRC=/kaggle/working/.netrc # wandb key の保存先
    working_dir: /kaggle/working
    ports:
      - 8889:8889
    command: jupyter lab --allow-root --ip=0.0.0.0 --port=8889 --no-browser --NotebookApp.token=''
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [ gpu ]
    shm_size: '8gb'
